<div class="container-fluid">
    <div class="text-center">
        <div [style]="image">
            <div style=" margin: 0; padding: 0;">
                <h1 (click)="stopShow()">#{{hashtag}}</h1>
                <h1>@{{userName}}</h1>
            </div>
            <div class="row">
                <div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h3>{{textPost}}</h3>
            </div>
        </div>
    </div>
</div>
